<div *ngIf="order">
  <h2>{{order.description | uppercase}} Details</h2>
  <div><span>id: </span>{{order.id}}</div>
  <div>
    <label>Description:
      <input [(ngModel)]="order.description" placeholder="description"/>
    </label>
  </div>
  <div>
    <label>Item Code:
      <input [(ngModel)]="order.itemCode" placeholder="item code"/>
    </label>
  </div>
  <div>
    <label>Quantity:
      <input [(ngModel)]="order.quantity" placeholder="quantity"/>
    </label>
  </div>
  <button (click)="goBack()">go back</button>
  <button (click)="save()">save</button>
</div>
